---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Contact Us - Endeavor Agency">
  <Navbar />
  <main class="pt-16">
    <Contact />
  </main>
  <Footer />
  <script src="../scripts/animations.ts"></script>
</Layout>